* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  height: 100vh;
  width: 100%;
}

.hero {
  background: #374375;
  color: #fffcf5;
}
.navbar {
  padding: 1rem;
}
.navbar a {
  color: #d8dbe9;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.mainText h3 {
  font-size: 1.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mainText h2 {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 28px 0;
  line-height: 0;
}

.cta button {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #dfaea1;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1rem;
  width: 12rem;
  color: #232b4d;
  background: #dfaea1;
}

.cta button:hover {
  transform: scale(1.03);
  transition: all 2s ease;
  transform: translateY(0);
}

.cta .btn1 {
  background: #374375;
  border: 2px solid #dfaea1;
  color: #fffcf5;
}

.btn1:hover {
  background: #dfaea1;
  color: #232b4d;
  border: 2px solid #dfaea1;
}

.btn2:hover {
  background: #374375;
  color: #fffcf5;
}

.profile {
  margin: 2rem 0;
}

.profile img {
  position: relative;
  width: 20rem;
  height: auto;
  border-radius: 7rem 7rem 1rem 1rem;
  border: 5px solid #dfaea1;
}

.about {
  background: #bebde2;
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardCompartment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: #fffcf5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 32px;
  width: 300px;
  margin: 2rem;
}

.card > .cardImg {
  width: 300px;
  height: 150px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.card .cardTitle {
  font-size: 20px;
  margin-bottom: 16px;
  position: relative;
  left: 0;
  color: #374375;
}

.cardPara {
  font-size: 14px;
  margin-bottom: 16px;
  color: #374375;
}
.card a {
  width: 100%;
}
.cardBtn {
  width: 100%;
  font-size: 16px;
  height: 40px;
  border: none;
  border-radius: 16px;
  font-weight: 600;
  background-color: #dfaea1;
  color: #374375;
}
.cardBtn:hover {
  background: #c99588;
}

.project {
  background: #bebde2;
  height: auto;
}
.project .aboutText {
  color: #fffcf5;
}
.footer {
  background: #151a30;
  height: 30vh;
  width: 100%;
  color: #e7e9f7;
}

.footer .footerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dfaea1;
}
.footer .footerText p {
  margin-top: 0.5rem;
  color: #d8dbe9;
  font-style: oblique;
}

.footer .socials {
  display: flex;
  justify-content: space-around;
}

.footer a > .bxl {
  font-size: 3rem;
  padding: 2rem;
  color: #d8dbe9;
  transition: all 2s ease;
}
.footer a > .bxl:hover {
  color: #fff;
  transition: all 2s ease;
}
